// zmienne
@import 'variables';

// globalne rzeczy
@import 'global';

// moduły
@import 'modules/stoly';
@import 'modules/galeria';
@import 'modules/menu';
@import 'modules/harmonogram';
@import 'modules/wyglad';


 body {
    margin: 0px;

    .weselny-content{
      max-width: 1300px;
      padding: 15px;
    }

    .weselny-tile {
      display:block;
      width: 90%;
      text-align: center;      
      margin: auto;
      margin-bottom: 10px;
      a {
      color:#000;
      text-decoration: none;
      padding:20px;
      width: 100%;
      border:1px solid #ccc;
      display: block;
      transition: 300ms ease;

        &:hover {
          background-color: #192e03;
          color: #fff;
        }
      }
    }
  }

  @media screen and (min-width:1000px){
     body {
   
    .weselny-tile {
      display: inline-block;
      width: 30%;
      text-align: center;
      margin-right: 10px;

      }
    }
  }

  
  .section-title-input{
    border-width: 0px 0px 1px 0px;
    width: 100%;
  }

  .new-block-section{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    justify-content: flex-end;
  }

  .save-button-section {
    margin-right: 5px;
  }

  .text-input-block {
    width: 100%;
  }

  .question-input-block {
    margin-right: 10px;
    width: 75%;
  }

  .delete_module-section{
    padding: 0px 7px;
    background-color: #192e03;
    float:right;
    color:#fff;
    font-weight: 500;
  }

  .section-select {
    border-width: 1px;
    width: 100%;
  }

  input[type=checkbox] {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
  }

  input[type=checkbox]::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
  }

  input[type=checkbox],
  input[type=checkbox]::after {
    transition: all 100ms ease-out;
  }

  input[type=checkbox]::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
  }

   input[type=checkbox] {
    cursor: default;
  }

  input[type=checkbox]:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
  }

  input[type=checkbox]:checked {
    background-color: #192e03;
  }

  input[type=checkbox]:checked::after {
    background-color: #fff;
    left: 13px;
  }

  label :focus:not(.focus-visible) {
    outline: 0;
  }

  input[type=checkbox]:checked:hover {
    background-color: #192e03;
  }

